html {
  box-sizing: border-box;
  background-color: $grey;

  @media (min-width: $breakpoint-desktop) {
    font-size: 12px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #eee;
  background: linear-gradient(to bottom, #fff 0%, #fff 8rem, #eee 9rem, #eee 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff', endColorstr='#eee', GradientType=0);

  @media (min-width: $breakpoint-tablet) {
    background: #eee;
    background: linear-gradient(to bottom, #fff 0%, #fff 12rem, #eee 13rem, #eee 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff', endColorstr='#eee', GradientType=0);
  }

  @media (min-width: $breakpoint-desktop) {
    background: #eee;
    background: linear-gradient(to bottom, #fff 0%, #fff 24rem, #eee 26rem, #eee 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff', endColorstr='#eee', GradientType=0);
  }

  @media (min-width: $breakpoint-desktop-med) {
    background: #eee;
    background: linear-gradient(to bottom, #fff 0%, #fff 31rem, #eee 32rem, #eee 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff', endColorstr='#eee', GradientType=0);
  }

  @media (min-width: $breakpoint-desktop-xl) {
    background: #eee;
    background: linear-gradient(to bottom, #fff 0%, #fff 34rem, #eee 35rem, #eee 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff', endColorstr='#eee', GradientType=0);
  }

  @media (min-width: $breakpoint-desktop-huge) {
    background: #eee;
    background: linear-gradient(to bottom, #fff 0%, #fff 39rem, #eee 40rem, #eee 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff', endColorstr='#eee', GradientType=0);
  }

  &::before {
    content: '';
    position: absolute;
    top: 2.5rem;
    left: 0;
    background: url('../images/lubbock-skyline-grey.svg') center no-repeat;
    background-size: 100%;
    width: 100%;
    height: 7.5rem;
    z-index: 1;

    @media (min-width: $breakpoint-tablet) {
      height: 15rem;
    }

    @media (min-width: $breakpoint-desktop) {
      height: 29rem;
      height: 34vw;
    }
  }

  & > div,
  & > section {
    position: relative;
    z-index: 2;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-family: $font-avenir;
  font-weight: 700;
}

h1 {
  font-family: $font-levato;
  font-size: 2.25rem;
  letter-spacing: 0.003rem;
  line-height: 2.25rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 3.125rem;
    letter-spacing: 0.0045rem;
    line-height: 2.719rem;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 4rem;
    letter-spacing: 0.006rem;
    line-height: 3.188rem;
  }
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.074rem;
  margin: 1.5rem 0 1.125rem;

  @media (min-width: $breakpoint-tablet) {
    font-size: 2.25rem;
    letter-spacing: 0.004rem;
    line-height: 2.1rem;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 3rem;
    letter-spacing: 0.004rem;
    line-height: 2.813rem;
  }
}

h3,
h4 {
  font-size: 1.25rem;
  letter-spacing: 0.062rem;
  margin: 1.5rem 0 1.125rem;

  @media (min-width: $breakpoint-desktop) {
    font-size: 1.875rem;
    letter-spacing: 0.018rem;
    line-height: 2.109rem;
  }
}

h4,
h6 {
  color: #939393;
}

h5,
h6 {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.062rem;
  line-height: 1.875rem;
  margin: 1.125rem 0 0.85rem;
}

p,
ul li {
  color: #000;
  font-family: $font-levato;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.062rem;
  line-height: 1.875rem;

  @media (min-width: $breakpoint-desktop) {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  &.author {
    color: #4b4b4b;
    font-family: $font-levato;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.041rem;
    line-height: 1;
    margin: 0.5rem 0;

    @media (min-width: $breakpoint-tablet) {
      font-size: 1.125rem;
      letter-spacing: 0.062rem;
    }

    @media (min-width: $breakpoint-desktop) {
      font-size: 1.5rem;
      letter-spacing: 0.083rem;
    }
  }

  &.entry-category {
    display: inline-block;
    position: relative;
    color: $black;
    font-family: $font-avenir;
    font-size: 0.688rem;
    font-weight: 700;
    letter-spacing: 0.179rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.5rem;

    @media (min-width: $breakpoint-desktop) {
      font-size: 0.9167rem;
      letter-spacing: 0.23867rem;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $red;
      width: 100%;
      height: 0.25rem;

      @media (min-width: $breakpoint-desktop) {
        height: 0.33rem;
      }
    }
  }

  a {
    color: inherit;

    &:hover {
      color: $red;
    }
  }
}

a {
  color: $red;
  text-decoration: underline;
  transition: all 0.3s;

  &:hover {
    color: $black;
  }
}

blockquote {
  position: relative;
  text-align: right;
  padding: 0 $page-margin 1.5rem 0;
  margin: 0 $page-margin;

  @media (min-width: $breakpoint-tablet) {
    padding: 0 $page-margin-tablet 1.5rem;
    margin: 0 $page-margin-tablet;
  }

  @media (min-width: $breakpoint-desktop) {
    float: right;
    clear: both;
    max-width: 27.25rem;
    padding: 0 2rem 1.5rem;
    margin: 0 $page-margin-desktop 2rem 0;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $red;
    width: 12.625rem;
    height: 0.5rem;
  }

  p {
    font-family: $font-avenir;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.069rem;
    line-height: 2.438rem;
    padding-top: 0 !important;
    margin: 0 !important;
  }
}

.content {
  overflow-x: hidden;

  img {
    width: 100%;

    @media (min-width: $breakpoint-desktop) {
      width: auto;
    }
  }
}

@import "global/article";
@import "global/feature-article";
