@import "fonts";

/** COLORS */
$black: #1b1b1b;
$grey: #eee;
$dark-grey: #ccc;
$light-grey: #f2f2f2;
$white: #fff;
$red: #f83e3e;
$light-blue: #3f67bf;
$green: #557732;
$yellow: #f7c53d;

/** MARGINS  */
$spacer: 2rem;
$page-margin: 1rem;
$page-margin-tablet: 2.5625rem;
$page-margin-desktop: 4.125rem;

/** FONTS */
$font-avenir: "Avenir Next", sans-serif;
$font-levato: "Levato", serif;

/** BREAKPOINTS */
$breakpoint-tablet: 600px;
$breakpoint-tablet-large: 900px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-large: 1800px;
$breakpoint-desktop-xl: 2000px;
$breakpoint-desktop-huge: 2500px;
