article {
  // CATEGORY OPTIONS
  &.category-feature {
    header {
      .entry-subtitle {
        display: flex;
      }
    }

    p {
      &.entry-category {
        &::after {
          content: '';
          background-color: $light-blue;
        }
      }
    }
  }

  &.category-feature {
    p {
      &.entry-category {
        &::after {
          content: '';
          background-color: $red;
        }
      }
    }
  }

  .entry-content__image {
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 13rem;
    margin-bottom: 1.125rem;

    @media (min-width: $breakpoint-tablet) {
      height: 24rem;
    }

    @media (min-width: $breakpoint-desktop) {
      height: 38rem;
    }
  }

  header {
    padding: 0 0 1.5rem;

    .entry-subtitle {
      position: relative;
      display: none;
      justify-content: flex-start;
      align-items: center;

      @media (min-width: $breakpoint-desktop) {
        margin-bottom: 1rem;
      }

      p {
        color: $black;
        font-family: $font-avenir;
        font-size: 1.25rem;
        font-weight: 800;
        letter-spacing: 0.15rem;
        line-height: 1.631rem;
        text-transform: uppercase;
        margin: 0 0.5rem 0 0;

        @media (min-width: $breakpoint-desktop) {
          font-size: 3rem;
          letter-spacing: 0.236rem;
          line-height: 3.481rem;
        }
      }

      .entry-subtitle__image {
        position: relative;
        background-color: $red;
        border-radius: 50%;
        width: 1.75rem;
        height: 1.75rem;

        & > div {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 75%;
          height: 75%;
        }
      }

      & + h1 {
        margin-top: 0.25rem;
      }
    }

    h1 {
      margin-bottom: 0;
    }
  }

  .entry-content {
    position: relative;
    background-color: $white;
    padding-bottom: 0.25rem;

    img {
      position: relative;
      width: 100%;
      height: auto;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $font-avenir;
    }

    h2 {
      & + p {
        margin-top: 1.125rem;
      }
    }

    h3 {
      color: #939393;

      & + p {
        margin-top: 1.125rem;
      }
    }

    p {
      margin: 1.875rem $page-margin;

      @media (min-width: $breakpoint-tablet) {
        margin: 1.875rem $page-margin-tablet;
      }

      &:first-child {
        padding-top: 2.375rem;
        margin-top: 0;
      }
    }

    .yarpp-related {
      background-color: $grey;

      &.yarpp-related-none {
        display: none;
      }
    }
  }

  footer {
    background-color: transparent;
    padding: 0;
  }
}

body.home {
  article.post {
    padding: 0 $page-margin;
    margin: 0 0 4.5rem;

    @media (min-width: $breakpoint-tablet) {
      padding: 0 $page-margin-tablet;
    }

    @media (min-width: $breakpoint-desktop) {
      padding: 0;
    }

    .entry-content__image {
      position: relative;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 13rem;
      margin-bottom: 1.125rem;

      @media (min-width: $breakpoint-desktop) {
        height: 20rem;
      }
    }

    h2 {
      color: $black;
      font-family: $font-levato;
      font-size: 1.875rem;
      font-weight: 700;
      letter-spacing: 0.003rem;
      line-height: 2rem;
      margin: 0.5rem 0;

      a {
        color: $black;
        text-decoration: none;

        &:hover {
          color: $red;
        }
      }
    }

    .entry-summary {
      display: none;
    }
  }
}
