body.home {
  article.section-feature {
    position: relative;
    padding: 0;
    margin-bottom: 3.625rem;

    @media (min-width: $breakpoint-desktop) {
      padding: 0 $page-margin-desktop;
      margin-bottom: 5rem;
    }

    @media (min-width: $breakpoint-desktop-med) {
      padding: 0;
    }

    &.category-feature {
      @media (min-width: $breakpoint-desktop) {
        padding: 33.375rem 0 0;
        margin: 0 $page-margin-desktop 5rem;
      }

      @media (min-width: $breakpoint-desktop-med) {
        margin: 0 0 5rem;
      }

      .entry-image {
        @media (min-width: $breakpoint-desktop) {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
        }
      }

      .entry-info {
        @media (min-width: $breakpoint-desktop) {
          position: relative;
          background-color: $white;
          width: 77.75%;
          padding: 1.625rem;
          z-index: 3;
        }

        @media (min-width: $breakpoint-desktop-med) {
          width: 75%;
        }
      }

      header {
        @media (min-width: $breakpoint-desktop) {
          display: block;
        }
      }

      .entry-subtitle {
        display: flex;
      }

      .entry-title {
        @media (min-width: $breakpoint-desktop) {
          font-size: 4rem;
          letter-spacing: 0.006rem;
          line-height: 3.981rem;
          width: 100%;
        }
      }
    }

    header {
      @media (min-width: $breakpoint-desktop) {
        display: flex;
        align-items: center;
      }

      & > * {
        @media (min-width: $breakpoint-desktop) {
          width: 50%;
        }
      }
    }

    .entry-image {
      position: relative;
      background-blend-mode: multiply;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 17rem;
      margin-bottom: 1rem;

      @media (min-width: $breakpoint-tablet) {
        height: 27rem;
      }

      @media (min-width: $breakpoint-desktop) {
        height: 42rem;
        margin-bottom: 3.125rem;
      }
    }

    .entry-subtitle {
      display: none;

      p {
        margin: 0 0.5rem 0 $page-margin;

        @media (min-width: $breakpoint-tablet) {
          margin: 0 0.5rem 0 $page-margin-tablet;
        }

        @media (min-width: $breakpoint-desktop) {
          font-size: 1.188rem;
          letter-spacing: 0.002rem;
          line-height: 1.224rem;
          max-width: 29rem;
          margin: 0 0.5rem 0 0;
        }
      }
    }

    p {
      &.entry-category {
        margin: 0 $page-margin 0.5rem;

        @media (min-width: $breakpoint-tablet) {
          margin: 0 $page-margin-tablet 0.5rem;
        }

        @media (min-width: $breakpoint-desktop) {
          margin: 0 0 0.75rem;
        }
      }

      &.author {
        margin: 0.5rem $page-margin;

        @media (min-width: $breakpoint-tablet) {
          margin: 0.5rem $page-margin-tablet;
        }

        @media (min-width: $breakpoint-desktop) {
          display: none;
        }
      }
    }

    h2 {
      font-size: 2.25rem;
      font-weight: 700;
      letter-spacing: 0.003rem;
      line-height: 2.25rem;
      margin: 0.5rem $page-margin;

      @media (min-width: $breakpoint-tablet) {
        margin: 0.5rem $page-margin-tablet;
      }

      @media (min-width: $breakpoint-desktop) {
        font-size: 4rem;
        letter-spacing: 0.006rem;
        line-height: 4.141rem;
        margin: 0;
      }
    }
  }
}
