body.home {
  article.section-feature {
    position: relative;
    padding: 0;
    margin-bottom: 3.625rem;

    @media (min-width: $breakpoint-desktop) {
      padding: 0 $page-margin-desktop;
      margin-bottom: 5rem;
    }

    @media (min-width: $breakpoint-desktop-med) {
      padding: 0;
    }

    &.category-feature {
      .entry-image {
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          background-image: linear-gradient(180deg, rgba($red, 0) 0%, $red 115%);
          background-blend-mode: multiply;
          width: 100%;
          height: 100%;
          z-index: 1;
        }
      }

      .entry-subtitle {
        display: flex;
      }
    }

    header {
      @media (min-width: $breakpoint-desktop) {
        display: flex;
        align-items: center;
      }

      & > * {
        @media (min-width: $breakpoint-desktop) {
          width: 50%;
        }
      }
    }

    .entry-image {
      position: relative;
      background-blend-mode: multiply;
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 17rem;
      margin-bottom: 1rem;

      @media (min-width: $breakpoint-tablet) {
        height: 27rem;
      }

      @media (min-width: $breakpoint-desktop) {
        height: 42rem;
        margin-bottom: 3.125rem;
      }
    }

    .entry-subtitle {
      display: none;

      p {
        margin: 0 0.5rem 0 $page-margin;

        @media (min-width: $breakpoint-tablet) {
          margin: 0 0.5rem 0 $page-margin-tablet;
        }

        @media (min-width: $breakpoint-desktop) {
          font-size: 4.5rem;
          letter-spacing: 0.007rem;
          line-height: 4.641rem;
          max-width: 29rem;
          margin: 0 0.5rem 0 0;
        }
      }
    }

    p {
      &.entry-category {
        margin: 0 $page-margin 0.5rem;

        @media (min-width: $breakpoint-tablet) {
          margin: 0 $page-margin-tablet 0.5rem;
        }

        @media (min-width: $breakpoint-desktop) {
          margin: 0 0 0.75rem;
        }
      }

      &.author {
        margin: 0.5rem $page-margin;

        @media (min-width: $breakpoint-tablet) {
          margin: 0.5rem $page-margin-tablet;
        }

        @media (min-width: $breakpoint-desktop) {
          display: none;
        }
      }
    }

    h2 {
      font-size: 2.25rem;
      font-weight: 700;
      letter-spacing: 0.003rem;
      line-height: 2.25rem;
      margin: 0.5rem $page-margin;

      @media (min-width: $breakpoint-tablet) {
        margin: 0.5rem $page-margin-tablet;
      }

      @media (min-width: $breakpoint-desktop) {
        font-size: 4rem;
        letter-spacing: 0.006rem;
        line-height: 4.141rem;
        margin: 0;
      }
    }
  }
}
