body.single-post {
  main.main {
    @media (min-width: $breakpoint-desktop) {
      margin: 0 $page-margin-desktop;
    }

    @media (min-width: $breakpoint-desktop-med) {
      max-width: 1440px;
      margin: 0 auto;
      overflow-x: hidden;
    }
  }

  article {
    header {
      padding-right: $page-margin;
      padding-left: $page-margin;

      @media (min-width: $breakpoint-tablet) {
        padding-right: $page-margin-tablet;
        padding-left: $page-margin-tablet;
      }

      @media (min-width: $breakpoint-desktop) {
        padding-right: 5.875rem;
        padding-left: 5.875rem;
      }
    }

    .entry-content {
      @media (min-width: $breakpoint-desktop) {
        padding-bottom: 4rem;
      }

      .entry-content__body {
        position: relative;

        .entry-content-body__share {
          display: none;

          @media (min-width: $breakpoint-desktop) {
            position: absolute;
            top: 0;
            display: block;
            margin: 0 1.1875rem;
          }

          a {
            position: relative;
            display: block;
            background-color: $grey;
            text-decoration: none;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            margin-bottom: 0.75rem;

            &.facebook {
              &:hover {
                background-color: #3b5998;
              }
            }

            &.twitter {
              &:hover {
                background-color: #1dcaff;
              }
            }

            &.mail {
              &:hover {
                background-color: $red;
              }
            }

            i {
              position: relative;
              display: block;
              color: $white;
              font-size: 2.5rem;
              text-align: center;
              line-height: 1;
              width: 100%;
              height: 100%;
              padding: 0;
              margin: 0;

              &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }

              &.mail {
                font-size: 2rem;
              }
            }
          }
        }
      }

      h2,
      h3,
      h4,
      h5,
      h6 {
        padding-right: $page-margin;
        padding-left: $page-margin;

        @media (min-width: $breakpoint-tablet) {
          padding-right: $page-margin-tablet;
          padding-left: $page-margin-tablet;
        }

        @media (min-width: $breakpoint-desktop) {
          max-width: 50rem;
          padding-right: auto;
          padding-left: 5.875rem;
        }
      }

      img {
        & + p {
          @media (min-width: $breakpoint-desktop) {
            margin-top: 3.125rem;
          }
        }
      }

      p {
        @media (min-width: $breakpoint-desktop) {
          max-width: 50rem;
          margin-right: auto;
          margin-left: 5.875rem;
        }

        @media (min-width: $breakpoint-desktop-med) {
          max-width: 60rem;
        }

        &:first-child {
          @media (min-width: $breakpoint-desktop) {
            text-indent: 2rem;
            margin-top: 3.125rem;
          }
        }
      }
    }

    .entry-author {
      position: relative;
      background-color: $white;
      padding: $page-margin;
      margin-top: 2rem;

      @media (min-width: $breakpoint-tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $page-margin-tablet;
      }

      @media (min-width: $breakpoint-desktop) {
        padding: $page-margin-desktop;
        margin-top: 4rem;
      }

      .entry-author__image {
        position: relative;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75%;
        margin: 0 auto;

        @media (min-width: $breakpoint-tablet) {
          width: 33%;
          max-width: 21rem;
          margin: 0;
        }

        &::after {
          content: '';
          display: block;
          position: relative;
          width: 100%;
          padding-top: 100%;
        }
      }

      .entry-author__info {
        @media (min-width: $breakpoint-tablet) {
          width: 60%;
        }
      }
    }
  }
}
