body.single-post {
  article {
    header {
      padding-right: $page-margin;
      padding-left: $page-margin;

      @media (min-width: $breakpoint-tablet) {
        padding-right: $page-margin-tablet;
        padding-left: $page-margin-tablet;
      }
    }

    .entry-content {
      h2,
      h3,
      h4,
      h5,
      h6 {
        padding-right: $page-margin;
        padding-left: $page-margin;

        @media (min-width: $breakpoint-tablet) {
          padding-right: $page-margin-tablet;
          padding-left: $page-margin-tablet;
        }
      }
    }
  }
}
